.portfolioabout{
    width: 700px;
    display: none;
}

#contactabout{
    width: 500px;

}
.Menu{
    display:none;
}
.aboutheader{
    float: left;
    margin-left: 0px;
}
.mobileabout{
    display: none;
}